.route-enter {
  opacity: 0;
  transform: translate3d(0 ,50%, 0);
}
.route-exit {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
}
.route-enter-active {
  opacity: 1;
  transform: translate3d(0, 0%, 0);
}
.route-exit-active {
  opacity: 0;
  transform: translate3d(0, -50%, 0);
}
.route-enter-active,
.route-exit-active {
  transition-duration: var(--route-transition-duration, 200ms);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1)
}